body {
  background-color: #f2ebdc;
}

h1 {
  font-family: "Monoton", cursive;
  color: #f2a444;
  font-size: 270px;
  display: flex;
  margin: auto;
  padding: 0;
}

.aligner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameScreen {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 0;
  border-radius: 50%;
}

.start-button {
  margin: 70px auto 0 auto;
  width: 200px;
  padding: 50px 0;
  font-size: 40px;
  cursor: pointer;
  font-family: "Bungee", cursive;
  color: #f2ebdc;
  background-color: #3b74bf;
  border-style: none;
  border-radius: 50%;
}

.start-button:hover {
  color: #f24c3d;
}

.game-over {
  position: absolute;
  margin: auto;
  color: #f24c3d;
  font-family: "Bungee Shade", cursive;
  font-size: 150px;
  cursor: default;
  display: none;
  letter-spacing: 10px;
}
.restart-button {
  width: 100px;
  font-size: 15px;
  padding: 25px 0;
  cursor: pointer;
  position: absolute;
  margin: 200px auto 0 auto;
  display: none;
  font-family: "Bungee", cursive;
  color: #f2ebdc;
  background-color: #3b74bf;
  border-style: none;
  border-radius: 50%;
}
.restart-button:hover {
  color: #f24c3d;
}
